page-artist-detail {
  .artist-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .artist-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
