page-song-detail {
  .song-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .song-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
